{% extends 'dummy.html' %}
{% load static %}
{% block title %}
<title>Home</title>
<style>
    body
    {
        height: 600px;
        background:linear-gradient(45deg,rgb(30, 159, 210),white,rgb(14, 120, 162));
        color: brown;
    }
    h1
    {
        background-color: rgb(4, 4, 41);
        color: white;
        border-radius: 10px;
    }
</style>
{% endblock %}

{% block body_block %}
    {% if username %}
    <h1 class="h1 mt-3">WELCOME TO HOMEPAGE MR/MRs {{username}}</h1>
    {% else %}
    <h1 class="h1 mt-3">WELCOME TO HOMEPAGE</h1>
    {% endif %}
{% endblock %}
