{% extends 'dummy.html' %}

{% block title %}
<title>Registration</title>
<style>
    h1
    {
        background-color: rgb(211, 18, 131);
        width: 300px;
        border-radius: 10px;
        color: rgb(238, 234, 17);
    }
</style>
{% endblock %}

{% block body_block %}
<h1 class="mt-3 h1">Registration</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% csrf_token %}
    {{UO.as_p}}
    {{PO.as_p}}
    <input type="submit" value="Registration" class="bg-success text-white btn">
</form>
{% endblock %}